{% extends 'admin_base.html' %}


{% block source %}
<form class="needs-validation" method="post">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="reportName">Name of report</label>
            <input type="text" name="name" class="form-control" id="reportName" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="reportURL">URL of report</label>
            <input type="text" name="url" class="form-control" id="reportURL" required>
          </div>
            <div class="col-md-6 mb-3">
            <label for="reportURI">URI of report</label>
            <input type="text" name="uri" class="form-control" id="reportURI" required>
          </div>
        </div>
        <button class="btn btn-warning btn-lg btn-block" type="submit">Submit</button>
      </form>
{% endblock %}