<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Admin</title>
</head>
<body>
       <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
           <div class="col">
               <a href="https://notilyze.com/">
               <img src="/static/images/notilyze_logo.png" alt="" width="120" height="30">
                </a>
           </div>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Support</a>
      </nav>
           <a class="font-italic mr-3">admin</a>
           <a class="btn btn-outline-warning" href="/">Sign out</a>
    </div>
</body>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/admin_page/add_report">
              Add report
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-dark" href="/admin_page/about_api">
              Give an access to the report
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-dark" href="/admin_page/about_access">
              Give an access to the report
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-dark" href="/admin_page/remove_access">
              Remove an access to the report
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/admin_page/file_manager">
              Download files
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      {% block source %}{% endblock %}
    </main>
  </div>
</div>
</html>