{% extends 'client_base.html' %}


{% block source %}
<form class="needs-validation" method="post">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="reportName">ID</label>
            <input type="text" name="name" class="form-control" id="reportName" required>
          </div>
        </div>
        <a class="btn btn-warning btn-lg btn-block" href="/client_page/{{user.id}}/api/verified" type="submit">Submit</a>
      </form>
<h5>Status code: {{ status_code }}</h5>
<h5>Respond: {{ respond }}}</h5>
{% endblock %}