{% extends 'client_base.html' %}



{% block title %}
Main title
{% endblock %}

{% block name %}
{{ email }}
{% endblock %}

{% block source %}
<script async src="./sdk-assets/dist/umd/va-report-components.js"></script>
<script async src="https://unpkg.com/@sassoftware/va-report-components@0.5/dist/umd/va-report-components.js"></script>
<sas-report hideNavigation="auto"
            authenticationType="credentials"
            url= https://devanalytics-notilyze.saasnow.com
            reportUri="/reports/reports/6dba9b87-1a78-475f-b609-ca7e62468522">
</sas-report>
{% endblock %}