{% extends 'client_base.html' %}



{% block title %}
Main title
{% endblock %}

{% block name %}
{{ email }}
{% endblock %}

{% block source %}
<div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="ml-4 text-dark" href="#">
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="ml-4 text-dark" href="#">
                  Upload Files
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-warning">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
              </a>
            </h6>
            <ul class="nav flex-column mb-4">
              <li class="nav-item">
                <a class="ml-4 text-dark" href="#">
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="ml-4 text-dark" href="#">
                  Last quarter
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
<script src="https://unpkg.com/@webcomponents/custom-elements"></script>
<script async src="https://unpkg.com/@sassoftware/va-report-components@0.5/dist/umd/va-report-components.js"></script>
<sas-report hideNavigation="auto"
            authenticationType="guest"
            url= https://devanalytics-notilyze.saasnow.com
            reportUri="/reports/reports/6dba9b87-1a78-475f-b609-ca7e62468522">
</sas-report>
<iframe src="https://devanalytics-notilyze.saasnow.com/SASVisualAnalytics/?appSwitcherMessage=%7B%22type%22:%22App.Open%22,%22data%22:%7B%22directive%22:%22SASVisualAnalytics%22,%22targetUri%22:%22/reports/reports/6dba9b87-1a78-475f-b609-ca7e62468522%22,%22targetPublicType%22:%22report%22,%22params%22:%7B%22page%22:%22vi6%22%7D%7D%7D"></iframe>
{% endblock %}