{% extends 'admin_base.html' %}


{% block source %}
<div class="container mt-5">
  <h1>Here you can give an access to the API for specific client</h1>
  <form class="form-inline" method="post">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Client Email</label>
  <select class="custom-select my-1 mr-sm-2" name="client_id" id="inlineFormCustomSelectPref">
    <option selected>Choose...</option>
    {% for el in clients %}
        <option value="{{el.id}}">{{el.e_mail}}</option>
    {% endfor %}
  </select>
    <label class="my-1 mr-2" for="inlineFormCustomSelect">API Name</label>
    <select class="custom-select my-1 mr-sm-2" name="api_id" id="inlineFormCustomSelect">
      <option selected>Choose...</option>
    {% for el in apis %}
        <option value="{{el.id}}">{{el.name}}</option>
    {% endfor %}
  </select>
  <button type="submit" class="btn btn-warning my-1">Submit</button>
</form>
</div>
{% endblock %}