{% extends 'base.html' %}


{% block title %}
Sign in
{% endblock %}


{% block source %}
<head>
    <script async src="https://unpkg.com/@sassoftware/va-report-components@0.6/dist/umd/va-report-components.js"></script>
    <style>
      html {
        background-color: #f0f0f0;
      }
      sas-report {
        width: 100%;
        height: 100%;
        --sas-report-padding: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
<sas-report hideNavigation="auto"
            authenticationType="credentials"
            url= https://devanalytics-notilyze.saasnow.com
            reportUri="/reports/reports/6dba9b87-1a78-475f-b609-ca7e62468522">
</sas-report>
  </body>
{% endblock %}