{% extends 'base.html' %}


{% block title %}
Sign in
{% endblock %}


{% block source %}
<div class="container">
    <form class="form-signin" method="post">
      <h3 class="mb-3 font-weight-normal">Please sign in</h3>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="True">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control mt-3" placeholder="Password" required="">
      <button class="btn btn-lg btn-warning btn-block mt-3" type="submit">Sign in</button>
    </form>
</div>
<sas-report hideNavigation="auto" authenticationType="credentials" url= https://devanalytics-notilyze.saasnow.com reportUri="/reports/reports/6dba9b87-1a78-475f-b609-ca7e62468522"></sas-report>
<iframe src="https://devanalytics-notilyze.saasnow.com/SASVisualAnalytics/?appSwitcherMessage=%7B%22type%22:%22App.Open%22,%22data%22:%7B%22directive%22:%22SASVisualAnalytics%22,%22targetUri%22:%22/reports/reports/6dba9b87-1a78-475f-b609-ca7e62468522%22,%22targetPublicType%22:%22report%22,%22params%22:%7B%22page%22:%22vi6%22%7D%7D%7D"></iframe>
{% endblock %}